[Unit]
Description=Daily AIDE check

[Timer]
OnCalendar={{ ubtu24cis_aide_cron_day }}-{{ ubtu24cis_aide_cron_month }}-{{ ubtu24cis_aide_cron_weekday }} {{ ubtu24cis_aide_cron_hour }}:{{ ubtu24cis_aide_cron_minute }}:00
Persistent=true

[Install]
WantedBy=timers.target
